.page {
  width: 100%;
  background: #fff;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: var(--font-montserrat);
}

.treasure-hunt-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  margin: 3rem auto;
  width: 100%;
  max-width: 1200px;

  > div:first-child img {
    width: 320px;
    max-width: 100%;
    object-fit: contain;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
    justify-content: center;
    align-content: start;

    img {
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }

  .animal-bottom {
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;

    img {
      width: 240px;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .treasure-hunt-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;

    > div:first-child img {
      width: 240px;
    }

    .logos {
      grid-template-columns: repeat(2, 100px);
      grid-auto-rows: 100px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .animal-bottom img {
      width: 180px;
      margin-top: 1rem;
    }
  }
}

.header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .date {
    margin-top: 0.7rem;
    color: black;
    font-size: 0.95rem;
  }

  .logos {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;

    img {
      height: 65px;
      object-fit: contain;
    }
  }
}

.content {
  margin-top: 1rem;
  line-height: 1.6;

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 700;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: black;
    font-weight: bold;
  }

  ul {
    margin-bottom: 1rem;
    padding-left: 1.2rem;

    li {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.backBtn {
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-weight: 700;
}

.divider {
  width: 100%;
  height: 3px;
  background: black;
  margin: 1.5rem 0;
}
