.hero {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;

  .heroContent {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .textSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-size: clamp(2rem, 3vw, 4rem);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.2;
      font-family: var(--font-poppins);
    }

    h2 {
      font-size: clamp(1rem, 1.2vw, 2rem);
      color: #ccc;
      font-weight: bold;
      margin-top: 0.5rem;
      text-transform: uppercase;
      font-family: var(--font-montserrat);
    }
  }

  .imageSection {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 800px;
      height: auto;
      border-radius: 1.5rem;
      animation: float 3s ease-in-out infinite;
    }
  }


  
  @media (max-width: 1024px) {
    .heroContent {
      flex-direction: column;
      text-align: center;
    }

    .imageSection img {
      max-width: 600px;
    }
  }

 
  @media (max-width: 768px) {
    .textSection span {
      font-size: clamp(1.6rem, 6vw, 2.6rem);
    }
    .textSection h2 {
      font-size: clamp(0.9rem, 2.5vw, 1.3rem);
    }

    .imageSection img {
      max-width: 420px;
    }
  }

  
  @media (max-width: 480px) {
    .imageSection img {
      max-width: 300px;
    }
  }
}


