.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding: 2.3rem;
  align-items: center;
  // max-width: 1200px;
  min-height: 75vh;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
}

.textSection {
  flex: 1;
  min-width: 230px;
  text-align: right;

  h2 {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--font-montserrat);
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
    font-family: var(--font-poppins);
  }

  .moreButton {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.7rem 1.8rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 1.5rem;
    animation: float 3s ease-in-out infinite;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 900px) {
  .contentWrapper {
    flex-direction: column;
    text-align: center;
  }

  .textSection {
    text-align: center;
    h2 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1rem;
    }

    .moreButton {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  }

  .imageSection {
    margin-top: 2rem;

    img {
      max-width: 300px;
    }
  }
}
